apiVersion: v1
kind: Service
metadata:
  name: tracker-service
  namespace: default
  labels:
    app: tracker
spec:
  type: LoadBalancer
  selector:
    app: tracker
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
---
apiVersion: v1
kind: Service
metadata:
  name: tracker-service-internal
  namespace: default
  labels:
    app: tracker
spec:
  type: ClusterIP
  selector:
    app: tracker
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    protocol: TCP
